
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


body {
    background-color: rgb(0, 68, 255);
}

p.titulo {
    background-color: black;
    color: white;´
    font-size: 150%;
    font-family: "Balsamiq Sans", cursive;
    text-align: center;
}
nav {
    background-color: white;
    align-content: center;
}
table {
    background-color: black;
    color: white;
}
ul {
    list-style: none;
}
li.bloque1 {
    background-color: white;
    text-decoration: overline;
    border: blue 4px solid;
    width: 350px;
    text-align: center;
}
li.bloque2 {
    background-color: dimgray;
    color: blue;
    border: yellow 4px solid;
    width: 250px;
}
li.bloque3 {
    background-color: rgb(45, 97, 71) ;
    color: white;
    border: orangered 4px dashed;
    width: 310px;
}
li.bloque4 {
    background-color: khaki;
    color: blue;
    width: 400px;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
}
